.content{
    margin: 0 auto;
    margin-top: 50;
    min-width: 250pt;
    max-width: 250pt;
    align-items: center;
    justify-content: center;
    text-align: left;
    z-index: 10;
}

*{
box-sizing: border-box;
margin:0;
padding:0;
}

input
{
background-color:rgba(0,0,0,0) !important;
box-shadow: none !important;
color: red !important;
border-color: #9f9f9f !important;
}

a{
text-decoration: none;
color: var(--primary-color);
}

.showcase {
position: relative;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 0 20px;
}

.gif-container{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
background: var(--primary-color) url('../img/elmo.gif') no-repeat center center
center/center;
}

.gif-container img{
min-width: 100%;
min-height: 100%;
object-fit: cover;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
filter: brightness(80%);
}



.btn-dark{
color: #0f0f0f !important;
background-color: #dfdfdf !important;
border-color: #dfdfdf !important;
box-shadow: none !important;
}

.btn-dark:hover{
color: #0c0c0c !important;
background-color: #afafaf !important;
border-color: #afafaf !important;
box-shadow: none !important;
}

.btn-dark:active,
.btn-dark.active {
color: #000000 !important;
background-color: #5c5c5c !important;
border-color: #5c5c5c !important;
box-shadow: none !important;
}






  
  